rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /bookings/{bookingId} {
      allow read, write: if true;
    }

    match /counters/{counterId} {
      allow read, write: if true;
    }

    match /virtualBookings/{bookingId} {
      allow read, write: if true;
    }

    match /mantrakshata/{docId} {
      allow read, write: if true;
    }

    match /schedule/{docId} {
      allow read, write: if true;
    }

    match /blogs/{docId} {
      allow read, write: if true;
    }
  }
}